1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [ ]:
#QUESTION 1
L=[10, 20, 30, 40, 50, 60, 70, 80]
print('i)')
L.append(200)
L.append(300)
print(L)

print('ii)')
L.remove(10)
L.remove(30)
print(L)

print('iii)')
L.sort()
print(L)

print('iv)')
L.sort(reverse=True)
print(L)

i)
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
ii)
[20, 40, 50, 60, 70, 80, 200, 300]
iii)
[20, 40, 50, 60, 70, 80, 200, 300]
iv)
[300, 200, 80, 70, 60, 50, 40, 20]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [ ]:
#QUESTION 2
T=(45, 89.5, 76, 45.4, 89, 92, 58, 45)

print('i)')
high_score=max(T)
print(high_score)

print('ii)')
low_score=min(T)
low_count=T.count(low_score)
print("Lowest Score is: ", low_score, "The count is: ", low_count)

print('iii)')
rev_tuple=T[::-1]
print(rev_tuple)
rev_list=list(rev_tuple)
print(rev_list)

print('iv)')
score = 76
if score in T:
    first_occur = T.index(score)
    print("The score", score, "is present at index", first_occur)
else:
    print("The score is not present in the tuple")

i)
92
ii)
Lowest Score is:  45 The count is:  2
iii)
(45, 58, 92, 89, 45.4, 76, 89.5, 45)
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
iv)
The score 76 is present at index 2

3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [ ]:
#QUESTION 3
import random
listX = [random.randint(100,900) for _ in range(100)]
print("List :",listX)
evenNum = [x for x in listX if x%2==0]
print("Even Num:", evenNum)
oddNum = [x for x in listX if not x%2==0]
print("Odd Num:",oddNum)
primeNum = [x for x in listX if all(i%x!=0 for i in range(2,int(x**0.5)+1))]
print("Prime Num:",primeNum)

List : [205, 578, 307, 750, 363, 638, 295, 423, 383, 455, 119, 553, 792, 407, 363, 172, 357, 661, 598, 253, 269, 503, 783, 253, 313, 595, 801, 556, 255, 294, 284, 827, 494, 469, 461, 173, 188, 522, 835, 457, 557, 481, 359, 594, 691, 557, 181, 684, 164, 686, 569, 360, 791, 617, 664, 851, 488, 755, 889, 883, 409, 710, 167, 704, 484, 630, 119, 703, 739, 564, 542, 539, 504, 740, 548, 758, 549, 537, 858, 556, 361, 812, 197, 899, 155, 656, 187, 163, 360, 485, 406, 255, 876, 117, 580, 225, 653, 326, 256, 517]
Even Num: [578, 750, 638, 792, 172, 598, 556, 294, 284, 494, 188, 522, 594, 684, 164, 686, 360, 664, 488, 710, 704, 484, 630, 564, 542, 504, 740, 548, 758, 858, 556, 812, 656, 360, 406, 876, 580, 326, 256]
Odd Num: [205, 307, 363, 295, 423, 383, 455, 119, 553, 407, 363, 357, 661, 253, 269, 503, 783, 253, 313, 595, 801, 255, 827, 469, 461, 173, 835, 457, 557, 481, 359, 691, 557, 181, 569, 791, 617, 851, 755, 889, 883, 409, 167, 119, 703, 739, 539, 549, 537, 361, 197, 899, 155, 187, 163, 485, 255, 117, 225, 653, 517]
Prime Num: [205, 578, 307, 750, 363, 638, 295, 423, 383, 455, 119, 553, 792, 407, 363, 172, 357, 661, 598, 253, 269, 503, 783, 253, 313, 595, 801, 556, 255, 294, 284, 827, 494, 469, 461, 173, 188, 522, 835, 457, 557, 481, 359, 594, 691, 557, 181, 684, 164, 686, 569, 360, 791, 617, 664, 851, 488, 755, 889, 883, 409, 710, 167, 704, 484, 630, 119, 703, 739, 564, 542, 539, 504, 740, 548, 758, 549, 537, 858, 556, 361, 812, 197, 899, 155, 656, 187, 163, 360, 485, 406, 255, 876, 117, 580, 225, 653, 326, 256, 517]

4. Consider the following two sets, A and B, represenƟng scores of two teams in mulƟple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operaƟons using set funcƟons:
i. Find the unique scores achieved by both teams (union of sets).
ii. IdenƟfy the scores that are common to both teams (intersecƟon of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [ ]:
#QUESTION 4
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A|B)
print(A&B)
print(A.symmetric_difference(B))

print(f"The scores of team A are a subset of team B: {A.issubset(B)}")
print(f"team B's scores are a superset of team A: {B.issuperset(A)}")

user_in = int(input("Enter a score: "))
if user_in in A:
    A.remove(user_in)
    print(f"Score {user_in} removed.")
else:
    print(f"Score {user_in} not present in team A.")

{34, 45, 78, 23, 56, 90}
{90, 78}
{34, 45, 23, 56}
The scores of team A are a subset of team B: False
team B's scores are a superset of team A: False
Enter a score: 4
Score 4 not present in team A.

Write a program to rename a key city to a locaƟon in the following dicƟonary.

In [ ]:
#QUESTION 5
dict= {
    'name':"Aryan",
    'age' :19,
    'salary' : 1560000,
    'city': 'Himachal'
}
print(dict)
dict['location'] = dict.pop('city')
print(dict)

{'name': 'Aryan', 'age': 19, 'salary': 1560000, 'city': 'Himachal'}
{'name': 'Aryan', 'age': 19, 'salary': 1560000, 'location': 'Himachal'}