In [ ]:
#question 4.1

for i in range(1,11):
    print("7 * ",i," = ",7*i,"\n")

7 *  1  =  7

7 *  2  =  14

7 *  3  =  21

7 *  4  =  28

7 *  5  =  35

7 *  6  =  42

7 *  7  =  49

7 *  8  =  56

7 *  9  =  63

7 *  10  =  70

In [ ]:
#4.1

for i in range(1,11):
    print("9 * ",i," = ",9*i,"\n")

9 *  1  =  9

9 *  2  =  18

9 *  3  =  27

9 *  4  =  36

9 *  5  =  45

9 *  6  =  54

9 *  7  =  63

9 *  8  =  72

9 *  9  =  81

9 *  10  =  90

In [1]:
#4.2
n = int(input("Enter the number n: "))
print("Table of n:")
for i in range(1, 11):
    print(n, "x", i, "=", n * i)

Enter the number n: 49
Table of n:
49 x 1 = 49
49 x 2 = 98
49 x 3 = 147
49 x 4 = 196
49 x 5 = 245
49 x 6 = 294
49 x 7 = 343
49 x 8 = 392
49 x 9 = 441
49 x 10 = 490

In [2]:
#4.3
n = int(input("Enter the number n: "))
total_sum = sum(range(1, n + 1))
print('The sum of numbers from 1 to n is:', total_sum)

Enter the number n: 34
The sum of numbers from 1 to n is: 595